@model IEnumerable<bookstore.Entities.Concrete.Product>

@{
    ViewData["Title"] = "Index";
}
@{
    decimal totalPrice = 0;
}
<h1>Sepetimdeki Ürünler</h1>

<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Başlık
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Yazar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Author)
                    </td>
                    @{
                        totalPrice += item.Price;
                    }
                </tr>

            }
            <tr>
                <td>
                    <h5>Toplam</h5>
                    @totalPrice.ToString()
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="Checkout" class="btn btn-primary">Ödeme Yap</a>
                </td>
            </tr>
            </table>
</body>